*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}

.img-hover-container{
	margin:20px auto;
	width:50%;
	min-width: 300px;
	/*border:1px solid red;*/
	position: relative;
}

.img-hover-container img{
	width:100%;
	/*border-radius:50px;*/
	transition:1s;
	border:1px solid #333;
}

.img-hover-container p{
	position:absolute;
	width:80%;
	bottom:10px;
	left:10%;
	text-align: center;
	padding:10px;
	color:#fff;
	opacity: 0;
	font-size:50px;
}

.img-hover-container:hover img{
	/*filter:brightness(50%);*/
	filter:drop-shadow(0px 0px 20px #333);
	transition:.5s;	
	border-radius: 80px;
	border:5px solid #333;
}

.img-hover-container:hover p{
	opacity: 1;
}